*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Submit1,#Submit2{
    width:5vw;
    height: 4vh;
}
input{
    outline: none;
    border: none;
    background-color: yellowgreen;
    border-radius: 5px;
    padding-left: 5px 5px;
    height: 4vh;
}
.details{
    border-radius: 10px;
    height: 50vh;
    width: 30vw;
    position: fixed;
    top: 50%;
    left: 50% ;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 3px black;
}
.details2{
    background-color: aliceblue;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.quiz{
    border-radius: 10px;
    width: 40vw;
    height: 95vh;
    display: none;
    position: fixed;
    top: 50%;
    left: 50% ;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 3px black;
    
}
.quiz2{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.result{
    
    position: fixed;
    top: 50%;
    left: 50% ;
    transform: translate(-50%,-50%);
    
    /* border: 1px solid black; */
    height: 80vh;
    width: 40vw;
    display: none;
    border-radius: 10px;
}

.result2{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
}

td,th,tr{
    border: 1px solid black;
    text-align: center;
}
.table{
    height: 100%;
    width: 100%;
}